// border-radius
$br:  15px

.nav-search
    display: flex
    height: 40px

    .nav-left
        border-radius: $br 0 0 $br
        position: relative

        .nav-search-facade
            cursor: pointer

        .nav-search-dropdown
            display: block
            position: absolute
            height: 40px
            width: 40px
            top: 0px
            bottom: 0px
            opacity: 0
            visibility: visible

    .nav-fill
        width: 40vw

    .nav-btn
        margin: 0
        padding: 0

        height: 40px
        width: 40px

    .nav-right
        border-radius: 0 $br $br 0
